*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


body {
    font-family: sans-serif;
    background-color: hsla(147, 0%, 16%, 1);
    height: 100vh;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#text{
    text-align: center;
    color: white;
    margin-top: 2em;
}

.timer{
    margin-top: 4em;
    font-size: 1.3rem;
    color: white;
}

.minutes {
    font-size: 4em;
}

.button{
    text-align: center;
    margin-top: 6.5em;
}

.button button {
    font-size: 1.5rem;
    padding: 10px;
    width: 8em;
}

@media (min-width: 1100px){
    .timer1{
        display: flex;
        flex-direction: row;
    }

    .timer{
        padding: 3.5em;
        font-size: 2.4em;
        margin-top: 1.5em;
    }

    .button{
        margin-top: 2em;
    }
}
/* A shit for study.html and break.html */

.mainPeriods{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100%;
}

.pomodoro{
    font-size: 9rem;
}

.studyTime{
    color: white;
}

.studyTime p {
    font-size: 3.5rem;
}



